<div class="bg-all">
    <div class="card col-6">
        <div class="i-form-frame">
            <!-- Log In | Starts  -->
            <div class="login-block py-5" *ngIf="logIn">
                <div class="col-12 text-center color-white fs-24 py-5">
                    Login to your account
                </div>
                <div class="col-12 text-center color-red">{{err}}</div>
                    <div class="col-12 py-4">
                            <div class="text-box col-12 row m-0 mt-2 ">
                                <div class="col-1 p-0 fs-26 p-1 color-white fs-24">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="col-11 text-center p-0 floating-label">
                                  <input [(ngModel)] = "loginMobile"
                                  class="floating-input" placeholder=" " type="text" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g, '');" autocomplete="false">
                                  <span class="highlight"></span>
                                  <label>Mobile Number</label>
                                </div>
                              </div>
                        </div>

                        <div class="col-12 py-4">
                                <div class="text-box col-12 row m-0 mt-2 ">
                                    <div class="col-1 p-0 fs-26 p-1 color-white fs-24">
                                            <i class="fas fa-user-lock"></i>
                                    </div>
                                    <div class="col-11 text-center p-0 floating-label">
                                      <input [(ngModel)] = "loginPass"
                                      class="floating-input" placeholder=" " type="text" autocomplete="false">
                                      <span class="highlight"></span>
                                      <label>Password</label>
                                    </div>
                                  </div>
                            </div>
                            <div class="text-center px-2 py-3 color-white my-5 bg-orange col-4 mx-auto cursor" (click)="logInFun()">
                                    <strong>Log In</strong>
                                </div>
                            <div class="text-center col-12 color-orange my-5 text-underline cursor" (click)="toggleLogIn('signIn')">
                                <strong>Sign Up</strong>
                            </div>
            </div>
            <!-- Log In | Ends -->


            <!-- Sign Up | Start -->
            <div class="login-block py-5" *ngIf="!logIn">
                    <div class="col-12 text-center color-green" *ngIf="successMsg===true">
                            Successful!
                        </div>
                    <div class="col-12 text-center color-white fs-24 py-5">
                        Create a New Account
                    </div>
                        <div class="col-12 py-4">
                                <div class="text-box col-12 row m-0 mt-2 ">
                                    <div class="col-1 p-0 fs-26 p-1 color-white fs-24">
                                        <i class="fas fa-mobile-alt"></i>
                                    </div>
                                    <div class="col-11 text-center p-0 floating-label">
                                      <input [(ngModel)]="userMobileNumber"
                                      class="floating-input" placeholder=" " type="text" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g, '');" autocomplete="false">
                                      <span class="highlight"></span>
                                      <label>Mobile Number</label>
                                    </div>
                                  </div>
                            </div>
    
                            <div class="col-12 py-4">
                                    <div class="text-box col-12 row m-0 mt-2 ">
                                        <div class="col-1 p-0 fs-26 p-1 color-white fs-24">
                                                <i class="fas fa-user-lock"></i>
                                        </div>
                                        <div class="col-11 text-center p-0 floating-label">
                                          <input [(ngModel)]="userPassword"
                                          class="floating-input" placeholder=" " type="text" autocomplete="false">
                                          <span class="highlight"></span>
                                          <label>Password</label>
                                        </div>
                                      </div>
                                </div>
                                <div class="text-center px-2 py-3 color-white my-5 bg-orange col-4 mx-auto cursor" (click)="signInButton()">
                                        <strong>Sign In</strong>
                                    </div>
                                    <div class="text-center col-12 color-orange my-5 text-underline cursor" (click)="toggleLogIn('logIn')">
                                            <strong>Go to Log In</strong>
                                        </div>
                </div>
                <!-- Sign Up | End -->
        </div>
    </div>
</div>